<launch>

<rosparam file="$(find vehicle_description)/launch/controller.yaml" command="load"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/vehicle" args="Rev1_velocity_controller Rev2_velocity_controller Rev3_velocity_controller Rev4_velocity_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/vehicle/joint_states"/>
</node>

</launch>